{% extends 'base.html' %}
{% load query_tags %}
{% block title %}
部门考勤查询
{% endblock %}
{% block content %}

<div>
	<nav class="breadcrumb" ><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 考勤查询 <span class="c-gray en">&gt;</span> 部门考勤查询 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="page-container">
             <form id="queryRecords" action="/attendence/dept/query" method="get">
            日期范围：
                 <input name="stime" type="text" placeholder="{{stime}}" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="logm" class="input-text Wdate" style="width:120px;">
            -
                 <input name="etime" type="text" placeholder="{{etime}}" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })" id="logmax" class="input-text Wdate" style="width:120px;">
                <span class="c-red">*</span> 部门：
                 <span class="select-box" style="position: relative;width:200px;">
                 <input class="org-select" id="select-name"  onclick="showTree();"  readonly style="width:180px;">
                 <i class="trg" style="position: absolute;"></i>
                 <input id="select-value" type="hidden" name="deptId">
                  <div id="menuContent" class="zTreeDemoBackground left" style="display:none;position: absolute;background-color:#e9e9e9">
                    <ul id="treeDemo2" class="ztree" style="margin-top:0; width:180px;"></ul>
                  </div>
                </span>
             <button name="" id="query-go" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 查询</button>
            <button name="" id="query-dowload" class="btn btn-success" type="button" onclick="tableToExcel('query-result','{{ execfilename }}--{{ page_obj.number }}')">导出</button>
             </form>
        <p>注意：</p>
        <p>1、下拉选择查询的部门,只限末级部门</p>
        <p>2、查询限一个月内的部门考勤记录</p>
    </div>
    <div class="mt-20">
			<table id="query-result" class="table table-border table-bordered table-bg table-hover table-sort">
				<thead>
					<tr class="">
						<th width="5">姓名</th>
						<th width="5">工号</th>
                        <th width="20">部门</th>
						<th width="20">日期</th>
						<th width="30">签到时间</th>
						<th width="30">签退时间</th>
						<th width="5">出勤时间</th>
                        <th width="5">请假类型</th>
                        <th width="20">请假详情</th>
					</tr>
				</thead>
				<tbody id="query-result">
                {% for record in records %}
                    <tr class="text-c va-m">
                        <td class="text-l" align="center">{{record.name}}</td>
                        <td class="text-l" align="center">{{record.jobnumber}}</td>
                        <td class="text-l" align="center">{{record.department_name}}</td>
                        {% check_clock_time_for_dept record %}
                        {% check_approval_info_for_dept record %}

                    </tr>
                {% endfor %}
                </tbody>
			</table>
     <div class="text-c">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?stime={{ stime }}&etime={{ etime }}&deptId={{ deptobj.department_id }}&page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?stime={{ stime }}&etime={{ etime }}&deptId={{ deptobj.department_id  }}&page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    </div>
</div>

<script type="text/javascript" src="/static/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript" src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/lib/datatables/1.10.15/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">
    function base64 (content) {
       return window.btoa(unescape(encodeURIComponent(content)));
    }
    /*
    *@tableId: table的Id
    *@fileName: 要生成excel文件的名字（不包括后缀，可随意填写）
    */
    function tableToExcel(tableID,fileName){
        var table = document.getElementById(tableID);
      var excelContent = table.innerHTML;
      var excelFile = "<html xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:x='urn:schemas-microsoft-com:office:excel' xmlns='http://hr.tigerbrokers.com/'>";
      excelFile += "<head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head>";
      excelFile += "<body><table>";
      excelFile += excelContent;
      excelFile += "</table></body>";
      excelFile += "</html>";
      var link = "data:application/vnd.ms-excel;base64," + base64(excelFile);
      var a = document.createElement("a");
      a.download = fileName+".xls";
      a.href = link;
      a.click();
    }
var setting = {
        view: {
          dblClickExpand: false,
          selectedMulti: false
        },
        data: {
          simpleData: {
            enable: true
          }
        },
        callback: {
            onClick: onClick
        }
      };

function beforeClick(treeId, treeNode) {
			var check = (treeNode && !treeNode.isParent);
			if (!check) alert("只能选择末级部门...");
			return check;
		}

 function onClick(event, treeId, treeNode) {
      $('#select-name').val(treeNode.name);
      $('#select-value').val(treeNode.id)
      hideTree();
  };
    // 点击下拉框时展示tree
 function showTree(){
    if($('#menuContent').css('display') == 'none'){
         $('#menuContent').css('display','block');
     } else{
         $('#menuContent').css('display','none');
     }
     $("body").bind("mousedown", onBodyDownByActionType);
 }
 function hideTree() {
    $('#menuContent').css('display','none');
    $("body").unbind("mousedown", onBodyDownByActionType);
    return false;
}

function onBodyDownByActionType(event) {
    if (event.target.id.indexOf('treeDemo2') == -1){
        if(event.target.id != 'selectDevType'){
            hideTree();
        }
    }
}
$(function(){
        var t = $("#treeDemo2");
        $.fn.zTree.init(t, setting, {{ org_data|safe}});
});
    </script>
<style>
.trg {
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 6px solid black;;
    position: absolute;
    left: 181px;
    top: 8px;
}
.org-select{
    cursor: default;
    z-index: -1;
    width:200px;
}
</style>

{% endblock %}