{% extends 'base.html' %}
{% load query_tags %}
{% block title %}
未打卡通知报告
{% endblock %}
{% block content %}
    <div>
	<nav class="breadcrumb" ><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 考勤统计 <span class="c-gray en">&gt;</span> 未打卡通知 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="page-container">
		<form id="queryRecords" action="/unclock/query" method="get">
			日期：
			<input name="day" type="text" placeholder="{{day}}" onfocus="WdatePicker({ maxDate:'%y-%M-%d'})" id="logm" class="input-text Wdate" style="width:120px;">

            <button name="" id="query-go" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 查询</button>
		</form>
    </div>
    <div class="mt-20">
			<table class="table table-border table-bordered table-bg table-hover table-sort" >
				<thead>
					<tr class="text-c">
						<th width="20">姓名</th>
						<th width="20">工号</th>
                        <th width="40">部门</th>
						<th width="40">日期</th>
						<th width="40">未打卡信息</th>
						<th width="20">发送结果</th>
					</tr>
				</thead>
				<tbody id="query-result">
                {% for record in records %}
                    <tr class="text-c va-m">
                        <td class="text-l" align="center">{{record.name}}</td>
                        <td class="text-l" align="center">{{record.jobnumber}}</td>
                        <td class="text-l" align="center">{{record.departname}}</td>
                        <td class="text-l" align="center">{{record.day}}</td>
                        <td class="text-l" align="center">{{record.unclock_info}}</td>
                        <td class="text-l" align="center">{{record.result}}</td>
                    </tr>
                {% endfor %}
                </tbody>
			</table>
</div>
    </div>
<script type="text/javascript" src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/lib/datatables/1.10.15/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/lib/laypage/1.2/laypage.js"></script>
{% endblock %}
